.poke-container-80 {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.poke-container-60 {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.poke-container-50 {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.poke-container-40 {
  width: 600px;
  padding: 0 20px;
  margin: 0 auto;
}
