.poke-container-80 {
  width: 80%;
  margin: 0 auto;
}

.poke-container-60 {
  width: 60%;
  margin: 0 auto;
}

.poke-container-50 {
  width: 50%;
  margin: 0 auto;
}

.poke-container-40 {
  width: 40%;
  margin: 0 auto;
}