.text-header {
  font-size: 1.525rem;
  font-weight: 700;
}

.primary-color {
  color: $poke_primary_color;
}

.poke-link {
  @extend .primary-color;
  text-decoration: none;
}

.text-center {
  text-align: center;
}